In [1]:
from linguist import Linguist
import pandas as pd

In [60]:
linguists = pd.read_pickle('database/fashion/fashion_linguists.pkl')
linguists

,username,name,locale,team,contract_hours,output,keep_deadlines,start_time,end_time,plate,client_exp,expertise,client_redflag,translation,review,lso,client_meeting,test_translation
0,farm,farm bro,fb,fashion,8.0,2400,10,09:00:00,17:00:00,,,,,True,True,True,True,True
1,kensolo,Ken Solo,ks,fashion,8.0,100000,10,09:00:00,23:00:00,"review2,translation",,,,True,True,True,True,True

In [67]:
end_time = linguists.loc[linguists["username"] == "farm", "end_time"].values[0]
end_time

datetime.time(17, 0)

In [39]:
end_time_dt = pd.Timestamp(end_time).to_pydatetime()
# end_time_dt = end_time_pd.to_pydatetime()
end_time_dt

datetime.datetime(2023, 6, 30, 17, 0)

In [38]:
now

datetime.datetime(2023, 6, 30, 22, 51, 2, 480349)

In [40]:
print((now - end_time_dt).total_seconds() / 3600)

5.850688985833334

In [70]:
df = pd.read_pickle('database/fashion/kensolo_workload.pkl')
df

  username  contractual_availability  2023-07-01
0  kensolo                       8.0       0.048

In [47]:
df = pd.DataFrame({
    'name': ['JohnDoe', 'Alice', 'Bob', 'JohnDoe'],
    'age': [25, 24, 22, 25],
    'assignee': ['a', 'b', 'a', 'a'],
    'city': ['london', 'liverpool', 'london', 'liverpool']
})

In [48]:
# Define conditions for 'assignee' and 'city'
condition = (df['assignee'] == 'a') & (df['city'] == 'london')

# Calculate the sum of 'age' for those rows satisfying the condition
sum_age = df[condition]['age'].sum()

print(sum_age)

47

In [58]:
tasks = pd.read_pickle('database/fashion/fashion_tasks.pkl')
tasks

,name,locale,task_type,deadline,default_rate,required_hours,assignee_required_hours,team,assignee,status,completion_date,start_datetime,end_datetime
0,review,tw,review,2023-06-30 17:00:00,2400,1.5,None,fashion,None,Open,None,None,None
1,review2,tw,review,2023-07-01 17:00:00,2400,2.0,0.048,fashion,kensolo,Open,None,2023-07-01 16:57:07.200000,2023-07-01 17:00:00
2,review2,tw,review,2023-07-01 17:00:00,2400,2.0,0.048,fashion,kensolo,Open,None,2023-07-01 16:57:07.200000,2023-07-01 17:00:00
3,translation,tw,review,2023-07-01 17:00:00,2400,2.0,0.048,fashion,kensolo,Open,None,2023-07-01 16:51:21.600000,2023-07-01 16:54:14.400000
4,translation2,tw,review,2023-07-02 17:00:00,2400,2.0,None,fashion,None,Open,None,None,None

In [19]:
"requidddred_hours" in tasks.columns

False

In [64]:
tasks['deadline'] = pd.to_datetime(tasks['deadline'])
today = datetime.now().strftime('%Y-%m-%d')
deadline_dates = tasks['deadline'].dt.date.astype(str)
condition = (deadline_dates == today) & (tasks["assignee"] == "kensolo")
sum_hrs = tasks[condition]["required_hours"].sum()

In [70]:
deadline_dates

0    2023-06-30
1    2023-07-01
Name: deadline, dtype: object

In [66]:
tasks

,name,locale,task_type,deadline,default_rate,required_hours,assignee_required_hours,team,assignee,status,completion_date,start_datetime,end_datetime
0,review,tw,review,2023-06-30 17:00:00,2400,1.5,None,fashion,None,Open,None,None,None
1,review2,tw,review,2023-07-01 17:00:00,2400,2.0,None,fashion,None,Open,None,None,None

In [67]:
tasks['deadline'].dtype

dtype('<M8[ns]')

In [27]:
from datetime import datetime, timedelta

In [24]:
my_dt = datetime(2023, 7, 1, 16, 57, 7, 200000)

In [36]:
new_dt = my_dt - timedelta(hours=24)
string_new_dt = new_dt.strftime('%Y-%m-%d')
string_new_dt

'2023-06-30'

In [38]:
new_dt_datetime = datetime.strptime(string_new_dt, '%Y-%m-%d')
new_dt_datetime

datetime.datetime(2023, 6, 30, 0, 0)