In [1]:
import pandas as pd
import flow_functions as ff
from datetime import datetime

In [3]:
cookie = "fashion"

### Create a linguist

In [3]:
kensolo = ff.create_linguist("kensolo", "Ken Solo", "ks", cookie)
ff.create_workload_db(kensolo, cookie)
ff.add_to_linguist_db(kensolo, cookie)

#### Change linguist attribute

In [ ]:
ff.set_attribute("farm", "output", 100000, cookie)

### Create a task

In [4]:
task = ff.create_task("translation4", "tw", "translation", datetime(2023, 7, 7), 2400, 2, cookie)
ff.add_to_task_db(task, cookie)

### Assign a task

In [7]:
decision = ff.assign_task_to_linguist("farm", "translation4", cookie)
decision

<<< Now Checking Availability >>>
farm output: 2400
farm finish the day at: 17:00:00
Ratio for farm output against default: 1.0
Required hours on default rating: 2
farm required hours: 2.0
Deadline is 2023-07-07
farm currently have 8.0 hours of work on 2023-07-07
farm still has 0.0 hours available on 2023-07-07
2023-07-07 already fully occupied for farm
Now checking 2023-07-06
Deadline is 2023-07-07
farm currently have 8.0 hours of work on 2023-07-06
farm still has 0.0 hours available on 2023-07-06
2023-07-06 already fully occupied for farm
Now checking 2023-07-05
Deadline is 2023-07-07
farm currently have 1.0 hours of work on 2023-07-05
farm still has 7.0 hours available on 2023-07-05
2.0 hours of this task can be allocated to farm on 2023-07-05
<<< Now Assigning Task >>>
Last day the task must complete: 2023-07-05
2023-07-05 found in DB, attempting to allocate 2.0 hours to 2023-07-05
farm still has 7.0 hours of availability on 2023-07-05
All remaining hours allocated to 2023-07-05
New total workload for farm on 2023-07-05: 3.0

True

### Datebase view

In [8]:
linguists = pd.read_pickle(f'database/{cookie}/{cookie}_linguists.pkl')
workload = pd.read_pickle(f'database/{cookie}/farm_workload.pkl')
tasks = pd.read_pickle(f'database/{cookie}/{cookie}_tasks.pkl')

In [9]:
linguists.loc[linguists["username"] == "farm", "plate"].values[0].split(",")

['translation1', 'translation2', 'translation3', 'translation4']

In [10]:
linguists

,username,name,locale,team,contract_hours,output,keep_deadlines,start_time,end_time,plate,client_exp,expertise,client_redflag,translation,review,lso,client_meeting,test_translation
0,farm,farm bro,fb,fashion,8.0,2400,10,09:00:00,17:00:00,"translation1,translation2,translation3,transla...",,,,True,True,True,True,True

In [11]:
workload

  username  contractual_availability  2023-07-06  2023-07-07  2023-07-05
0     farm                       8.0         8.0         8.0         3.0

In [12]:
tasks

,name,locale,task_type,deadline,default_rate,required_hours,assignee_required_hours,team,assignee,status,completion_date,start_datetime,end_datetime,same_day_fit,2023-07-06,2023-07-07,2023-07-05
0,translation1,tw,translation,2023-07-06 11:00:00,2400,8,8.0,fashion,farm,Assigned,None,2023-07-06 09:00:00,2023-07-06 17:00:00,False,8.0,NaN,NaN
1,translation2,tw,translation,2023-07-07 00:00:00,2400,2,2.0,fashion,farm,Assigned,None,2023-07-07 15:00:00,2023-07-07 17:00:00,False,NaN,2.0,NaN
2,translation3,tw,translation,2023-07-07 00:00:00,2400,7,7.0,fashion,farm,Assigned,None,2023-07-05 16:00:00,2023-07-07 15:00:00,False,0.0,6.0,1.0
3,translation4,tw,translation,2023-07-07 00:00:00,2400,2,2.0,fashion,farm,Assigned,None,2023-07-05 14:00:00,2023-07-05 16:00:00,False,NaN,NaN,2.0

In [34]:
tasks["2023-07-03"].sum()

0.0

In [47]:
df = pd.DataFrame({
    'name': ['JohnDoe', 'Alice', 'Bob', 'JohnDoe'],
    'age': [25, 24, 22, 25],
    'assignee': ['a', 'b', 'a', 'a'],
    'city': ['london', 'liverpool', 'london', 'liverpool']
})

In [48]:
# Define conditions for 'assignee' and 'city'
condition = (df['assignee'] == 'a') & (df['city'] == 'london')

# Calculate the sum of 'age' for those rows satisfying the condition
sum_age = df[condition]['age'].sum()

print(sum_age)

47