In [11]:
import pandas as pd

In [47]:
linguists = pd.read_pickle('database/fashion/fashion_linguists.pkl')
linguists

,username,name,locale,team,contract_hours,output,keep_deadlines,start_time,end_time,plate,client_exp,expertise,client_redflag,translation,review,lso,client_meeting,test_translation
0,farm,farm bro,fb,fashion,8.0,2400,10,09:00:00,17:00:00,,,,,True,True,True,True,True
1,kensolo,Ken Solo,ks,fashion,8.0,2400,10,09:00:00,17:00:00,"translation1,translation2,translation3,transla...",,,,True,True,True,True,True

In [48]:
linguists.loc[linguists["username"] == "kensolo", "plate"].values[0].split(",")

['translation1',
 'translation2',
 'translation3',
 'translation4',
 'translation5',
 'translation6',
 'translation7']

In [46]:
df = pd.read_pickle('database/fashion/kensolo_workload.pkl')
df

,username,contractual_availability,2023-07-03,2023-07-06,2023-07-05,2023-07-04,2023-07-10,2023-07-09
0,kensolo,8.0,6.0,2.0,8.0,2.0,8.0,4.0

In [47]:
df = pd.DataFrame({
    'name': ['JohnDoe', 'Alice', 'Bob', 'JohnDoe'],
    'age': [25, 24, 22, 25],
    'assignee': ['a', 'b', 'a', 'a'],
    'city': ['london', 'liverpool', 'london', 'liverpool']
})

In [48]:
# Define conditions for 'assignee' and 'city'
condition = (df['assignee'] == 'a') & (df['city'] == 'london')

# Calculate the sum of 'age' for those rows satisfying the condition
sum_age = df[condition]['age'].sum()

print(sum_age)

47

In [45]:
tasks = pd.read_pickle('database/fashion/fashion_tasks.pkl')
tasks

,name,locale,task_type,deadline,default_rate,required_hours,assignee_required_hours,team,assignee,status,completion_date,start_datetime,end_datetime,same_day_fit,2023-07-03,2023-07-06,2023-07-05,2023-07-04,2023-07-10,2023-07-09
0,translation1,tw,translation,2023-07-03 11:00:00,2400,2,2.0,fashion,kensolo,Open,None,2023-07-03 15:00:00,2023-07-03 17:00:00,True,2.0,NaN,NaN,NaN,NaN,NaN
1,translation2,tw,translation,2023-07-04 11:00:00,2400,2,2.0,fashion,kensolo,Open,None,2023-07-03 15:00:00,2023-07-03 17:00:00,False,2.0,NaN,NaN,NaN,NaN,NaN
2,translation3,tw,translation,2023-07-05 11:00:00,2400,2,2.0,fashion,kensolo,Open,None,2023-07-03 15:00:00,2023-07-03 17:00:00,False,2.0,NaN,NaN,NaN,NaN,NaN
3,translation4,tw,translation,2023-07-06 11:00:00,2400,2,2.0,fashion,kensolo,Open,None,2023-07-06 15:00:00,2023-07-06 17:00:00,False,NaN,2.0,NaN,NaN,NaN,NaN
4,translation5,tw,translation,2023-07-06 11:00:00,2400,10,10.0,fashion,kensolo,Open,None,2023-07-05 13:00:00,2023-07-05 17:00:00,False,NaN,NaN,8.0,2.0,NaN,NaN
5,translation6,tw,translation,2023-07-10 11:00:00,2400,2,2.0,fashion,kensolo,Open,None,2023-07-10 15:00:00,2023-07-10 17:00:00,False,NaN,NaN,NaN,NaN,2.0,NaN
6,translation7,tw,translation,2023-07-10 11:00:00,2400,10,10.0,fashion,kensolo,Open,None,2023-07-09 13:00:00,2023-07-10 15:00:00,False,NaN,NaN,NaN,NaN,6.0,4.0

In [21]:
tasks.to_pickle('database/fashion/fashion_tasks.pkl')

In [64]:
tasks['deadline'] = pd.to_datetime(tasks['deadline'])
today = datetime.now().strftime('%Y-%m-%d')
deadline_dates = tasks['deadline'].dt.date.astype(str)
condition = (deadline_dates == today) & (tasks["assignee"] == "kensolo")
sum_hrs = tasks[condition]["required_hours"].sum()

In [70]:
deadline_dates

0    2023-06-30
1    2023-07-01
Name: deadline, dtype: object

In [27]:
tasks

,name,locale,task_type,deadline,default_rate,required_hours,assignee_required_hours,team,assignee,status,completion_date,start_datetime,end_datetime,same_day_fit,2023-07-03
0,translation1,tw,translation,2023-07-03 11:00:00,2400,2,2.0,fashion,kensolo,Open,None,2023-07-03 15:00:00,2023-07-03 17:00:00,True,2.0
1,translation2,tw,translation,2023-07-04 11:00:00,2400,2,2.0,fashion,kensolo,Open,None,2023-07-03 15:00:00,2023-07-03 17:00:00,False,2.0

In [67]:
tasks['deadline'].dtype

dtype('<M8[ns]')

In [27]:
from datetime import datetime, timedelta

In [24]:
my_dt = datetime(2023, 7, 1, 16, 57, 7, 200000)

In [36]:
new_dt = my_dt - timedelta(hours=24)
string_new_dt = new_dt.strftime('%Y-%m-%d')
string_new_dt

'2023-06-30'

In [38]:
new_dt_datetime = datetime.strptime(string_new_dt, '%Y-%m-%d')
new_dt_datetime

datetime.datetime(2023, 6, 30, 0, 0)

In [71]:
datetime.today()

datetime.datetime(2023, 7, 1, 19, 40, 1, 424355)