In [2]:
from linguist import Linguist
import pandas as pd

In [ ]:
ken.get_attribute("team")

In [ ]:
data = vars(ken)

In [ ]:
df = pd.DataFrame([data])

In [ ]:
df.head()

In [ ]:
dff = pd.DataFrame({'column_name': [1, 2, 3], 'another_column': ['a', 'b', 'c']})
dff

In [ ]:
dff.loc[dff["another_column"] == "b", 'column_name'] = 'new_value'
dff

In [ ]:
extracted = dff.loc[0, 'column_name']
extracted

In [ ]:
type(extracted)

In [ ]:
plate_plate = extracted.split('_')
plate_plate

In [ ]:
type(plate_plate)

In [ ]:
string_sample = ','.join(plate_plate)
string_sample

In [ ]:
dff.loc[0, 'column_name'] = string_sample
dff

In [ ]:
df.to_pickle('linguist.pkl')

In [ ]:
df = pd.read_pickle('linguist.pkl')

In [ ]:
df

In [ ]:
farm = Linguist("farm", "NL", "Nexus")

In [ ]:
data = vars(farm)

In [ ]:
data

In [ ]:
dff = pd.DataFrame([data])
dff

In [ ]:
df

In [ ]:
dff.columns

In [ ]:
df.columns

In [ ]:
print(df.columns == dff.columns)

In [ ]:
df.loc[len(df)] = dff.iloc[0, :]

In [ ]:
df

In [ ]:
df.to_pickle('linguist.pkl')

In [ ]:
df = pd.read_pickle('linguist.pkl')
df

In [ ]:
df.loc[df["name"] =="farm", "keep_deadlines"] = df.loc[df["name"] =="farm", "keep_deadlines"] - 1

In [ ]:
df

In [33]:
df = pd.read_pickle('database/fashion/fashion_linguists.pkl')
df

,username,name,locale,team,contract_hours,output,keep_deadlines,start_time,end_time,plate,client_exp,expertise,client_redflag,translation,review,lso,client_meeting,test_translation
0,farm,farm bro,fb,fashion,8.0,2400,10,2023-06-30 09:00:00,2023-06-30 17:00:00,,,,,True,True,True,True,True
1,kensolo,farm bro,fb,fashion,8.0,2400,10,2023-06-30 09:00:00,2023-06-30 17:00:00,"lso,lso,review",,,,True,True,True,True,True
2,kensolo,farm bro,fb,fashion,8.0,2400,10,2023-06-30 09:00:00,2023-06-30 17:00:00,"lso,lso,review",,,,True,True,True,True,True

In [34]:
df = pd.read_pickle('database/fashion/kensolo_availability.pkl')
df

  username  contractual_availability
0  kensolo                       8.0

In [35]:
df = pd.read_pickle('database/fashion/fashion_tasks.pkl')
df

,name,locale,task_type,deadline,default_rate,required_hours,team,assignee
0,review,tw,review,2023-06-30 17:00:00,2400,1.5,fashion,kensolo

In [10]:
def create_list_from_row(df, row):
  list_from_row = []
  for column in df.columns:
    list_from_row.append(row[column])
  return list_from_row

if __name__ == "__main__":
  df = pd.DataFrame({
    "Name": ["John Doe", "Jane Doe", "John Smith"],
    "Age": [30, 25, 40],
    "Occupation": ["Engineer", "Teacher", "Doctor"]
  })

  row = df.iloc[0]
  list_from_row = create_list_from_row(df, row)
  print(list_from_row)

['John Doe', 30, 'Engineer']

In [18]:
li = 'John Doe,30,Engineer'
plate_list = li.split(',')
plate_list

['John Doe', '30', 'Engineer']

In [19]:
plate_list.append("task")
plate_list

['John Doe', '30', 'Engineer', 'task']

In [20]:
new_plate = ','.join(plate_list)
new_plate

'John Doe,30,Engineer,task'

In [21]:
another_list = new_plate.split(',')