In [2]:
from linguist import Linguist
import pandas as pd

In [10]:
ken = Linguist("ken", "TW", "Nexus")
ken.remaining_availability_today

1.795967732777778

In [12]:
ken.get_attribute("team")

team: Nexus

'Nexus'

In [ ]:
data = vars(ken)

In [ ]:
df = pd.DataFrame([data])

In [ ]:
df.head()

In [ ]:
dff = pd.DataFrame({'column_name': [1, 2, 3], 'another_column': ['a', 'b', 'c']})
dff

In [ ]:
dff.loc[dff["another_column"] == "b", 'column_name'] = 'new_value'
dff

In [ ]:
extracted = dff.loc[0, 'column_name']
extracted

In [ ]:
type(extracted)

In [ ]:
plate_plate = extracted.split('_')
plate_plate

In [ ]:
type(plate_plate)

In [ ]:
string_sample = ','.join(plate_plate)
string_sample

In [ ]:
dff.loc[0, 'column_name'] = string_sample
dff

In [ ]:
df.to_pickle('linguist.pkl')

In [ ]:
df = pd.read_pickle('linguist.pkl')

In [ ]:
df

In [ ]:
farm = Linguist("farm", "NL", "Nexus")

In [ ]:
data = vars(farm)

In [ ]:
data

In [ ]:
dff = pd.DataFrame([data])
dff

In [ ]:
df

In [ ]:
dff.columns

In [ ]:
df.columns

In [ ]:
print(df.columns == dff.columns)

In [ ]:
df.loc[len(df)] = dff.iloc[0, :]

In [ ]:
df

In [ ]:
df.to_pickle('linguist.pkl')

In [3]:
df = pd.read_pickle('linguist.pkl')
df

,name,locale,team,start_time,end_time,contract_hours,output,keep_deadlines,plate,client_exp,expertise,client_feedback,translation,review,lso,client_meeting,test_translation
0,ken,TW,Nexus,2023-06-28 09:00:00,2023-06-28 17:00:00,8.0,2400,10,[],{},{},{},True,True,True,True,True
1,farm,NL,Nexus,2023-06-28 09:00:00,2023-06-28 17:00:00,8.0,2400,10,[],{},{},{},True,True,True,True,True

In [8]:
df.loc[df["name"] =="farm", "keep_deadlines"] = df.loc[df["name"] =="farm", "keep_deadlines"] - 1

In [9]:
df

,name,locale,team,start_time,end_time,contract_hours,output,keep_deadlines,plate,client_exp,expertise,client_feedback,translation,review,lso,client_meeting,test_translation
0,ken,TW,Nexus,2023-06-28 09:00:00,2023-06-28 17:00:00,8.0,2400,10,[],{},{},{},True,True,True,True,True
1,farm,NL,Nexus,2023-06-28 09:00:00,2023-06-28 17:00:00,8.0,2400,8,[],{},{},{},True,True,True,True,True

In [25]:
df = pd.read_pickle('database/nexus/nexus_linguists.pkl')
df

,username,name,locale,team,contract_hours,output,keep_deadlines,start_time,end_time,plate,client_exp,expertise,client_redflag,translation,review,lso,client_meeting,test_translation
0,ksolo,ken solo,ks,nexus,8.0,2400,10,2023-06-28 09:00:00,2023-06-28 17:00:00,[],{},{},{},True,True,True,True,True
1,ffarm,farmbro,tw,nexus,8.0,2400,10,2023-06-28 09:00:00,2023-06-28 17:00:00,[],{},{},{},True,True,True,True,True
2,kchang,ken,tw,nexus,8.0,2400,10,2023-06-28 09:00:00,2023-06-28 17:00:00,[],{},{},{},True,True,True,True,True