In [2]:
from linguist import Linguist
import pandas as pd

In [ ]:
ken.get_attribute("team")

In [ ]:
data = vars(ken)

In [ ]:
df = pd.DataFrame([data])

In [ ]:
df.head()

In [ ]:
dff = pd.DataFrame({'column_name': [1, 2, 3], 'another_column': ['a', 'b', 'c']})
dff

In [ ]:
dff.loc[dff["another_column"] == "b", 'column_name'] = 'new_value'
dff

In [ ]:
extracted = dff.loc[0, 'column_name']
extracted

In [ ]:
type(extracted)

In [ ]:
plate_plate = extracted.split('_')
plate_plate

In [ ]:
type(plate_plate)

In [ ]:
string_sample = ','.join(plate_plate)
string_sample

In [ ]:
dff.loc[0, 'column_name'] = string_sample
dff

In [ ]:
df.to_pickle('linguist.pkl')

In [ ]:
df = pd.read_pickle('linguist.pkl')

In [ ]:
df

In [ ]:
farm = Linguist("farm", "NL", "Nexus")

In [ ]:
data = vars(farm)

In [ ]:
data

In [ ]:
dff = pd.DataFrame([data])
dff

In [ ]:
df

In [ ]:
dff.columns

In [ ]:
df.columns

In [ ]:
print(df.columns == dff.columns)

In [ ]:
df.loc[len(df)] = dff.iloc[0, :]

In [ ]:
df

In [ ]:
df.to_pickle('linguist.pkl')

In [ ]:
df = pd.read_pickle('linguist.pkl')
df

In [ ]:
df.loc[df["name"] =="farm", "keep_deadlines"] = df.loc[df["name"] =="farm", "keep_deadlines"] - 1

In [ ]:
df

In [28]:
df = pd.read_pickle('database/fashion/fashion_linguists.pkl')
df

,username,name,locale,team,contract_hours,output,keep_deadlines,start_time,end_time,plate,client_exp,expertise,client_redflag,translation,review,lso,client_meeting,test_translation
0,farm,farm bro,fb,fashion,8.0,2400,10,2023-06-30 09:00:00,2023-06-30 17:00:00,,,,,True,True,True,True,True
1,kensolo,farm bro,fb,fashion,8.0,2400,10,2023-06-30 09:00:00,2023-06-30 17:00:00,"lso,lso,review",,,,True,True,True,True,True
2,kensolo,farm bro,fb,fashion,8.0,2400,10,2023-06-30 09:00:00,2023-06-30 17:00:00,"lso,lso,review",,,,True,True,True,True,True

In [29]:
end_time = df.loc[df["username"] == "kensolo", "end_time"].values[0]
end_time

numpy.datetime64('2023-06-30T17:00:00.000000000')

In [39]:
end_time_dt = pd.Timestamp(end_time).to_pydatetime()
# end_time_dt = end_time_pd.to_pydatetime()
end_time_dt

datetime.datetime(2023, 6, 30, 17, 0)

In [38]:
now

datetime.datetime(2023, 6, 30, 22, 51, 2, 480349)

In [40]:
print((now - end_time_dt).total_seconds() / 3600)

5.850688985833334

In [34]:
df = pd.read_pickle('database/fashion/kensolo_availability.pkl')
df

  username  contractual_availability
0  kensolo                       8.0

In [3]:
df = pd.read_pickle('database/fashion/fashion_tasks.pkl')
df

,name,locale,task_type,deadline,default_rate,required_hours,team,assignee
0,review,tw,review,2023-06-30 17:00:00,2400,1.5,fashion,kensolo

In [9]:
deadline = df.loc[df["name"] == "review", "deadline"].values[0]
deadline

numpy.datetime64('2023-06-30T17:00:00.000000000')

In [12]:
from datetime import datetime
import numpy as np

In [14]:
extracted_date = np.datetime64(deadline, 'D').astype(str)
extracted_date

'2023-06-30'

In [15]:
type(extracted_date)

numpy.str_

In [17]:
test = "test"
test

'test'

In [18]:
type(test)

str

In [19]:
now = datetime.now()

In [25]:
today_date = datetime.now().strftime('%Y-%m-%d')
today_date

'2023-06-30'

In [26]:
today_date == extracted_date

True

In [27]:
type(today_date), type(extracted_date)

(str, numpy.str_)

In [47]:
df = pd.DataFrame({
    'name': ['JohnDoe', 'Alice', 'Bob', 'JohnDoe'],
    'age': [25, 24, 22, 25],
    'assignee': ['a', 'b', 'a', 'a'],
    'city': ['london', 'liverpool', 'london', 'liverpool']
})

In [48]:
# Define conditions for 'assignee' and 'city'
condition = (df['assignee'] == 'a') & (df['city'] == 'london')

# Calculate the sum of 'age' for those rows satisfying the condition
sum_age = df[condition]['age'].sum()

print(sum_age)

47

In [68]:
tasks = pd.read_pickle('database/fashion/fashion_tasks.pkl')
tasks

,name,locale,task_type,deadline,default_rate,required_hours,assignee_required_hours,team,assignee,status,completion_date,start_datetime,end_datetime
0,review,tw,review,2023-06-30 17:00:00,2400,1.5,None,fashion,None,Open,None,None,None
1,review2,tw,review,2023-07-01 17:00:00,2400,2.0,None,fashion,None,Open,None,None,None

In [64]:
tasks['deadline'] = pd.to_datetime(tasks['deadline'])
today = datetime.now().strftime('%Y-%m-%d')
deadline_dates = tasks['deadline'].dt.date.astype(str)
condition = (deadline_dates == today) & (tasks["assignee"] == "kensolo")
sum_hrs = tasks[condition]["required_hours"].sum()

In [65]:
sum_hrs

2.0

In [66]:
tasks

,name,locale,task_type,deadline,default_rate,required_hours,assignee_required_hours,team,assignee,status,completion_date,start_datetime,end_datetime
0,review,tw,review,2023-06-30 17:00:00,2400,1.5,None,fashion,None,Open,None,None,None
1,review2,tw,review,2023-07-01 17:00:00,2400,2.0,None,fashion,None,Open,None,None,None

In [67]:
tasks['deadline'].dtype

dtype('<M8[ns]')